@model TPMascotas.ViewModels.EncontradoViewModel
@{
    ViewBag.Title = "Encontrados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Encontrados</h2>

    <input type="text" id="myInput" class="form-control searchbox-input">

    <div class="row float-left">



        @foreach (var Encontrado in Model.Encontrados)
        {

            <div class="container animal float-left col-md-3 inline-block">
                <div class="card" style="width: 18rem;">
                    <img src="@Encontrado.Foto" class="card-img-top img-thumbnail" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">  @Encontrado.Localidad</h5>
                        <p class="card-text">   @Encontrado.Desc</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>






        }


    </div>



    
</div>

@Html.ActionLink("Agregar Publicacion", "Add", "Encontrados")
<script>

    console.log("Hola");
    $('input').change(function () {
        $('.card').hide();
        var filter = $(this).val();
        console.log(filter);
        $(".card:contains('" + filter + "')").show();
    });
    console.log("Hola");

</script>