@{
    ViewBag.Title = "Home Page";
}


<div class=" container">
    <h2>
        Publicaciones de Animales perdidos, encotraste una mascota que crees que puede tener duenio? busca aca.
    </h2>
    <ul>
        <li> Aca van las fotos con una pequenia descripcion </li>
    </ul>
    @Html.ActionLink("Animales perdidos", "Perdidos", "Home")
</div>
<div class=" container">
    <h2>
        Publicaciones de Animales Encontrados, perdiste tu mascota? por ahi aca puedas encontrarla.
    </h2>
    <ul>
        <li> Aca van las fotos con una pequenia descripcion </li>
    </ul>
    @Html.ActionLink("Animales encontrados", "Encontrados", "Home")
</div>
<div class=" container">
    <h2>
        Publicaciones de Animales en adopcion, Queres adoptar una nueva mascota? Busca aca!
    </h2>
    <ul>
        <li> Aca van las fotos con una pequenia descripcion </li>
    </ul>
    @Html.ActionLink("Animales en adopcion", "Adopcion", "Home")

</div>