@model TPMascotas.Models.Adoptado
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class=" container">
    <h3>Ingrese</h3>
    <form action="/Adoptados/Add" method="post">
        <p>Ingrese el tipo del animal</p>
        <input type="radio" name="tipo" value="Perro"> Perro
        <input type="radio" name="tipo" value="Gato"> Gato
        <input type="radio" name="tipo" value="Otro"> Otro <br>

        <input type="radio" name="sexo" value="macho"> Macho
        <input type="radio" name="sexo" value="hembra"> Hembra <br />

        <input type="text" name="raza" placeholder="Raza"> Ingrese la raza <br>

        <input type="text" name="desc" placeholder="Informacion extra"> Informacion fisica que ayude a encontrarlo <br>

        <input type="text" name="nombre" placeholder="Nombre"> Ingrese el nombre <br>

        <input type="text" name="tamaño" placeholder="Tamaño del animal"> Ingrese el tamaño <br>

        <input type="text" name="edad" placeholder="Edad del animal"> Ingrese la edad <br>

        <p>Seleccione que tan sociable es con las personas</p>
        <input type="radio" name="nivelSociabilidad" value="1"> 1
        <input type="radio" name="nivelSociabilidad" value="2"> 2
        <input type="radio" name="nivelSociabilidad" value="3"> 3
        <input type="radio" name="nivelSociabilidad" value="4"> 4
        <input type="radio" name="nivelSociabilidad" value="5"> 5

        <p>Es sociable con otros animales?</p>
        <input type="radio" name="sociableAnimal" value="True"> Si
        <input type="radio" name="sociableAnimal" value="False"> No
        <p></p>
        <input type="text" name="foto" placeholder="direccion"> Ingrese la direccion de una foto del animal <br>

        <input type="Submit" value="Submit">
    </form>
</div>

