
@{
    ViewBag.Title = "Adoptados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.message</h2>


<div class=" container">
    <h2>
        Publicaciones de Animales disponibles para adoptar.
    </h2>
    <ul>
        <li> Aca van las fotos con una pequenia descripcion
        Esta es otra pagina</li>
    </ul>
    @Html.ActionLink("Animales add", "AdoptadosAdd","")
</div>